@font-face {
    font-family: Custom;
    src: url('custom-font');
}

html {
    background-color: #2d2d30;
    color: #f1f1f1;
    font-family: Custom, sans-serif;
}

body {
    margin: 0;
}

.center-table {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    border-spacing: 0;
}

.center-table td {
    padding: 0;
}

.data-table {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    border-collapse: collapse;
}

.data-table th {
    background-color: #252526;
    font-weight: normal;
    padding: 8px;
}

.data-table td {
    padding: 4px 8px;
}

#content {
    margin-left: auto;
    margin-right: auto;
    padding: 50px 25px 25px;
    max-width: 1000px;
}

.svg {
    display: block;
    margin: 0 auto;
}

.error-text {
    color: #b33636;
}

#login-box {
    display: inline-block;
}

input {
    background-color: #252526;
    color: #f1f1f1;
    padding: 8px;
    border: 2px solid #434346;
    border-radius: 4px;
    outline: none;
    font-size: large;
    transition-duration: 0.2s;
    transition-property: box-shadow, background-color;
    width: 250px;
    font-family: inherit;
    /* Overwrite Firefox autocomplete colors
       https://stackoverflow.com/questions/55228377 */
    filter: none;
}

input:focus {
    box-shadow: 0 0 3px 3px #0080C0;
}

input:hover {
    background-color: #2d2d30;
    box-shadow: 0 0 3px 3px #0080C0;
}

::placeholder {
    color: #707073;
    opacity: 1;
}

a {
    color: #0080C0;
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    display: inline-block;
    padding: 8px;
    border: 2px solid #434346;
    border-radius: 4px;
    background-color: #252526;
    transition-duration: 0.2s;
    transition-property: box-shadow, background-color;
    text-align: center;
    font-size: large;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.slim {
    padding: 0 6px;
    font-size: 16px;
}

.button:hover {
    background-color: #2d2d30;
    box-shadow: 0 0 3px 3px #0080C0;
    cursor: pointer;
}

.right {
    float: right;
}

.half {
    box-sizing: border-box;
    width: 50%;
}

.spacer-below {
    margin-bottom: 12px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.fadein-out {
    transition-duration: 0.25s;
    transition-property: opacity, visibility;
}

#navbar {
    background-color: #252526;
    border-bottom: 2px solid #434346;
    display: flex;
}

.navbar-element {
    padding: 14px 16px;
    user-select: none;
    transition-duration: 0.2s;
    transition-property: box-shadow, background-color;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    color: inherit;
}

.navbar-element:hover {
    background-color: #2d2d30;
    box-shadow: inset 0 -6px 3px -3px #0080C0;
    text-decoration: none;
}

.nav-right {
    margin-left: auto;
}

.nav-active {
    /*box-shadow: inset 0 0 2px 2px #0080C0;*/
    box-shadow: inset 0 -6px 3px -3px #0080C0;
}

.col-50 {
    width: 50%;
}

.col-30 {
    width: 30%;
}

.col-20 {
    width: 20%;
}

.col-10 {
    width: 10%;
}

.data-table tr:nth-child(even) {
    background-color: #323235;
}
